@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Alien Encounters';
  src: url('../asset/SF Alien Encounters/SF Alien Encounters Italic V1.ttf');
  font-weight: 400;
  font-style: italic;
}

@layer base {
  * {
    /* @apply; */
    text-shadow: 0 0 30px #6acfff;
    font-family: 'Edit Undo Line BRK';
    color: #6acfff;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 5px;
  }
}

@layer components {
  .retroText {
    text-shadow: 0 0 30px #6acfff;
    font-family: 'Edit Undo Line BRK';
    /* font-family: 'Former Airline'; */
    font-style: italic;
    font-weight: 400;
    font-size: 6rem; /* 96px */
    line-height: 1;
    color: #6acfff;
    letter-spacing: 2px;
    /* z-index: 20; */
  }

  .retroSubText {
    text-shadow: 0 0 30px #6acfff;
    font-family: 'Edit Undo Line BRK';
    /* font-family: 'Former Airline'; */
    font-style: italic;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: 5px;
    color: #6acfff;
  }

  /* .btn-navigation::after {
    @apply content-[''] absolute bg-amber-400 h-[3px] w-[0%] left-0 -bottom-2 rounded-xl duration-300;
  }

  .btn-navigation:hover::after {
    @apply w-[100%];
  } */

  .cursor {
    @apply w-2 shadow-[0_0_10px_red] bg-[red] z-10 absolute h-2 pointer-events-none rounded-xl;
  }

  /* .screen {
    @apply flex h-full justify-center items-center bg-theme-black;
  }

  .altScreen {
    @apply flex h-full w-full justify-center items-center p-2 bg-theme-white animate-tv-screen-lagg;
  } */
  /* 
  .cursor::before {
    @apply content-[''] absolute bg-theme-gray w-2 h-2 animate-cursors-tail-first-drop -right-2 -bottom-2;
  }

  .cursor::after {
    @apply content-[''] absolute bg-theme-gray w-2 h-2 animate-cursors-tail-second-drop -right-4 -bottom-4;
  } */
}
